* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-image: linear-gradient(45deg, #b3282f, #6b3074);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#mainBox {
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    position: relative;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ad6e8d;
}

.active {
    background-color: #d9a3b0;
}


.detailsAndTotalScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsAndTotalScore h3 {
    font-size: 40px;
}

.detailsAndTotalScore h1 {
    font-size: 100px;
}

.turnScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: #bf2e57;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

#centerArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.btn {
    background-color: #f6f0f0;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}

img {
    width: 120px;
    transition: transform 0.2s ease;
}

.shake {
    transform: rotate(20deg);
}

@media (max-width:900px) {
    img {
        text-align: center;
    width: 70px;
}
.btn {
    padding: 5px 10px;
}

.turnScore {
    font-size: 25px;
    padding: 5px 10px;
}

}

@media (max-width:600px) {
        img {
        text-align: center;
    width: 45px;
}
.btn {
    padding: 2px 4px;
}

.turnScore {
    font-size: 20px;
    padding: 3px 5px;
}
.detailsAndTotalScore h3 {
    font-size: 18px;
}

.detailsAndTotalScore h1 {
    font-size: 48px;
}
}