* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-image: linear-gradient(45deg, #b3282f, #6b3074);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#mainBox {
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    position: relative;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ad6e8d;
}

.active {
    background-color: #d9a3b0;
}


.detailsAndTotalScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsAndTotalScore h3 {
    font-size: 40px;
}

.detailsAndTotalScore h1 {
    font-size: 100px;
}

.turnScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: #bf2e57;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

#centerArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.btn {
    background-color: #f6f0f0;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}

img {
    width: 120px;
    transition: transform 0.2s ease;
}

.shake {
    transform: rotate(20deg);
}

@media (max-width:900px) {
    img {
        text-align: center;
    width: 70px;
}
.btn {
    padding: 5px 10px;
}

.turnScore {
    font-size: 25px;
    padding: 5px 10px;
}

}

@media (max-width:600px) {
        img {
        text-align: center;
    width: 45px;
}
.btn {
    padding: 2px 4px;
}

.turnScore {
    font-size: 20px;
    padding: 3px 5px;
}
.detailsAndTotalScore h3 {
    font-size: 18px;
}

.detailsAndTotalScore h1 {
    font-size: 48px;
}
}

.leaderboardmodel{
    height: 100%;
    width:  100%;
    background-color: rgb(0, 0, 0 ,0.8);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#leaderboardbtn{
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 10px 10px ;
}

.model ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.model ul li {
    padding: 12px 15px;
    background: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.model ul li span {
    color: #b3282f;
}
.closeBtn {
    position: absolute;
    top: 15px;
    right: 22px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.closeBtn:hover {
    color: red;
}

/* ==== Responsive ==== */
@media (max-width: 600px) {
    .model {
        width: 90%;
        padding: 15px;
    }

    #hending {
        font-size: 25px;
    }

    .model ul li {
        font-size: 18px;
        padding: 10px;
    }
}

.modleoff{
    display: none;
}
/* ==== Modal Box ==== */
.model {
    width: 60%;
    max-width: 600px;
    background: white;
    border-radius: 20px;
    padding: 20px 30px;

    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);

    animation: pop 0.3s ease;
}

/* pop animation */
@keyframes pop {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}